.idea/
Zoocmd/build/
**.pyc
Zoocmd/cache/
doc/html/
Zoocmd/logs/
Zoocmd/data/
**/__pycache__/
src/local_feed.py
ZooInstaller/obj/
ZooInstaller/bin/Release/
zoo.suo
QtWinUI/QtWinUI.vcxproj.user
QtWinUI/bak*/
QtWinUI/obj/
QtWinUI/QtWinUI.aps
ZooInstaller\Product.wixobj
ZooInstaller\Product.wx
ZooInstaller\Product.wx.xml
ZooInstaller\candle.rsp
Zoocmd/etc/settings.yaml
zoo.opensdf
zoo.sdf
ZooInstaller/ZoouiFiles.wxs
ZooInstaller/ZoocmdFiles.wxs
ZooInstaller/ZooInstaller.suo
Zoocmd/local_feed.py
ZooInstaller/Packages/
QtWinUI/Qt5.3/release/
