syntax: glob
.idea/
.idea/*
build/
*.pyc
src/bin
cache/
doc/html
venv/
venv~
python34
logs/
data/
*/__pycache__/
src/local_feed.py
UI/bin/Debug/
UI/bin/Release/
UI/obj/
UI/UI.csproj.user
ZooInstaller/obj/
ZooInstaller/bin/Release/
Python34/
zoo.suo
QtWinUI/QtWinUI.vcxproj.user
QtWinUI/bak*/
QtWinUI/obj/
QtWinUI/QtWinUI.aps
Qt5.3/
zoo_install.exe
zoo.5.1.ReSharper.user
_ReSharper.zoo/*
profile.bat
hg.bat_
_*
?.*
?
ZooInstaller\Product.wixobj
ZooInstaller\Product.wx
ZooInstaller\Product.wx.xml
ZooInstaller\candle.rsp
src\etc\settings.yaml
*.bat
Zoocmd/etc/settings.yaml
ZooInstaller/Packages/*
zoo.opensdf
zoo.sdf
ipch/*
ZooInstaller/ZoouiFiles.wxs
ZooInstaller/ZoocmdFiles.wxs
ZooInstaller/ZooInstaller.suo
Zoocmd/local_feed.py
