{% extends 'base_master.html' %}


{% block title %}Install wizard{% endblock %}

{% block tabs %}

<div id="install_tabcontrol" style="width:1024px;overflow-x: hidden;">

<ul class="nav nav-pills wizard" id="install-pills" style="width: 3000px; margin-left: 0px;">
  <a class="disabled first  " id="first_tab">&nbsp;</a>
  <a class="disabled" id="tab-pill-list"                >Prerequisites</a>
  <a class="disabled" id="tab-pill-product-parameters"  style="display:none"   >Product parameters</a>
  <a class="disabled" id="tab-pill-product-licenses"     style="display:none" >Licenses</a>
  <a class="disabled" id="tab-pill-product-installing"   style="display:none"  ><i class="fa fa-cog fa-spin"
                                                                                   id="icon-spin-tab"
                                                                                   style="margin-right: 10px;
                                                                                          font-size: 18px;">
                                                                                </i><span id="product-status-tab">Pending</span></a>

</ul>

</div>


<br/>

{% endblock %}

{% block content %}



<!--
<pre><code id="response-log">
</code></pre>
-->

<div class="tab-content">


  <div class="tab-pane active" id="tab-list">

    <div class="product-list-qt list-group">
         <ul id="install-list-products" > </ul>
    </div>

  </div>





  <div class="tab-pane" id="tab-product-parameters">
    <div  class="product-list-qt list-group">

      <ul id="product-parameters-list" ></ul>

    </div>


  </div>


  <div class="tab-pane" id="tab-product-licenses">
    <div  class="list-group product-list-qt">
       <ul id="product-licenses-list"  ></ul>
        <p style="margin-left:3em;"
           id="product-desc">
          By clicking "I Accept", you agree to the license terms for the software above.
          If you do not agree to all of the license terms, click "I Decline".
        </p>
    </div>


  </div>


<div class="tab-pane" id="tab-product-installing">
    <div style="position: relative">
      <textarea id="clipboard-area" style="position: absolute; top: -10000; left: -10000;">

      </textarea>
    </div>
    <div id="task-log-placeholder" >
      <button id="copy-log" type="button" class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy</button>
      <a href="{{ url('server') }}" id="go-to-node" type="button" class="btn btn-success hidden"><i class="fa fa-globe"></i> Go to site</a>
      <div id="task-log" class="task-log-flat product-list-qt">
          <pre>

          </pre>
      </div>
    </div>

</div>


{{ handlebarsjs('product-licenses-template') }}
{{ handlebarsjs('product-install-template2') }}
{{ handlebarsjs('parameters-template') }}
{{ handlebarsjs('websites-template') }}
{{ handlebarsjs('product-install-errors') }}
{{ handlebarsjs('task-template') }}
{{ handlebarsjs('task-log-template') }}


{% endblock %}

{% block page_scripts %}
<script src="{{ static('math.uuid/math.uuid.js') }}" type="text/javascript"></script>
<script src="{{ static('zoo/websites.js') }}" type="text/javascript"></script>
<script src="{{ static('zoo/database.js') }}" type="text/javascript"></script>
<script src="{{ static('zoo/dependency-tree.js') }}" type="text/javascript"></script>
<script src="{{ static('zoo/task.js') }}" type="text/javascript"></script>
<script src="{{ static('zoo/install2.js') }}" type="text/javascript"></script>
<script src="{{ static('zoo/include_install2.js') }}" type="text/javascript"></script>
{% endblock %}
