{% extends 'base.html' %}

{% block title %}Task {{ task.title }}{% endblock %}


{% block content %}
<div class="task_menu">
<span class="btn btn-success" id="btn-task-back-history">Back</span>
<span class="btn btn-danger pull-right hidden" id="btn-task-cancel">Kill job</span>

</div>

<div style="position: relative">
  <textarea id="clipboard-area" style="position: absolute; top: -10000; left: -10000;"></textarea>
</div>

<div id="task-log-placeholder">
  <button id="copy-log" type="button" class="btn btn-default btn-sm"><i class="fa fa-copy"></i> Copy</button>
  <a href="{{ url('server') }}" id="go-to-node" type="button" class="btn btn-success hidden"><i class="fa fa-globe"></i> Go to site</a>
  <div id="task-log" class="task-log-flat product-list-qt"><pre></pre></div>
</div>

{{ handlebarsjs('task-template') }}
{{ handlebarsjs('task-log-template') }}

{% endblock %}

{% block page_scripts %}

<script src="{{ static('zoo/task.js') }}"></script>
<script>window.task_id={{ task.id }};
$(document).ready(function () {
  window.Task = Task;

  var  EmptyObject = { finish:function(){},reading: true, task_id:window.task_id };
  window.Task.init(EmptyObject);
  Task.attach_window_resize();
});

</script>
{% endblock %}
